<div class="container ">
    <div class="row">
        <div class="col">
            <!--heading-->
            <h1>
                <i class="fa-solid fa-user"></i>
                Add New contact page
            </h1>

            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In dicta perferendis reiciendis commodi totam
                facilis accusamus iusto libero. Labore officiis est tempora optio recusandae dignissimos, tenetur cumque
                eius natus mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, minus aut? Id
                incidunt exercitationem, cupiditate dolorum voluptatibus libero odio. Repellat ducimus veritatis,
                officia dolore inventore illo aspernatur dignissimos vero sequi!
            </p>

        </div>
    </div>
</div>

<!--contact form design-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!--form design-->
            <form #addContactForm="ngForm" class="border p-3">
                <div class="mb-2">
                    <input name="id" #id="ngModel" [(ngModel)]="contact.id" placeholder="Contact Id" type="text" class="form-control" required>

                </div>

                <div *ngIf="id.invalid && id.touched" class="text-danger mb-2">please enter valid input</div>

                <div class="mb-2">
                    <input name="name" #name="ngModel" [(ngModel)]="contact.name"  placeholder="Contact Name" type="text" class="form-control" required>

                </div>
                <div *ngIf="name.invalid && name.touched" class="text-danger mb-2">Please enter valid input

                </div>
                <div class="mb-2">
                    <input name="photo" #photo="ngModel" [(ngModel)]="contact.photo"  placeholder="Contact Image URL" type="text" class="form-control" required>

                </div>
                <div *ngIf="photo.invalid && photo.touched" class="text-danger mb-2">please enter valid url</div>
           

                <div class="mb-2">
                    <input name="mobile" minlength="10" maxlength="10"  pattern="[0-9]*" #mobile="ngModel"  [(ngModel)]="contact.mobile"  placeholder="Contact Mobile" type="text" class="form-control" required>

                </div>
                <div *ngIf="mobile.invalid && mobile.touched" class="text-danger mb-2">plaese enter valid mobile number</div>

                <div class="mb-2">
                    <input name="email" email #email="ngModel" [(ngModel)]="contact.email"  placeholder="Contact E mail" type="text" class="form-control" required>

                </div>

                <div *ngIf="email.invalid && email.touched" class="text-danger mb-2">please enter valid email</div>

                <div class="mb-2">
                    <input name="company" #company="ngModel" [(ngModel)]="contact.company"  placeholder="Contact company" type="text" class="form-control" required>

                </div>
                <div *ngIf="company.invalid && company.touched" class="text-danger mb-2">please enter valid company</div>

                <div class="mb-2">
                    <input name="title"  #title="ngModel" [(ngModel)]="contact.title"  placeholder="Contact title" type="text" class="form-control" required>
                    
                </div>
              

                 <div *ngIf="title.invalid && title.touched" class="text-danger mb-2">Please enter valid title</div>
<!--group-->
<div class="mb-2">
                    <select name="groupId" #groupId="ngModel" pattern="[0-9]" [(ngModel)]="contact.groupId" class="form-control" required>
<option selected hidden disabled>{{contact.groupId}}</option>
<option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>

                    </select>
                </div>
<div *ngIf="groupId.invalid && groupId.touched" class="mb-2 text-danger">
please enter valid group

</div>
<!--add-button-->
<div class="mb-2">
<input [disabled]="addContactForm.invalid" (click)="addContact(contact)" value="Create" type="button" class="btn btn-success">
<a class="btn btn-warning ms-3" routerLink="">Close</a>
</div>
  </form>

        </div>
        <div class="col-md-4">

            <img class="contact_image mt-5" [src]="contact.photo" alt="contact image">

        </div>
    </div>
</div>
