<div class="container ">
    <div class="row">
        <div class="col">
             <!--heading-->
             <h1>
                <i class="fa-solid fa-eye"></i>
                View contact page
            </h1>

            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In dicta perferendis reiciendis commodi totam
                facilis accusamus iusto libero. Labore officiis est tempora optio recusandae dignissimos, tenetur cumque
                eius natus mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, minus aut? Id
                incidunt exercitationem, cupiditate dolorum voluptatibus libero odio. Repellat ducimus veritatis,
                officia dolore inventore illo aspernatur dignissimos vero sequi!
            </p>

        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
<div class="col-md-4">

    <img width="250px" height="250px" [src]="contact.photo"
    alt="contact image">


</div>
<div class="col-md-6">

<ul class="list-group">

    <li class="list-group-item">Name: <span class="fw-bolder">{{contact.name}}</span></li>

    <li class="list-group-item">email: <span class="fw-bolder">{{contact.email}}</span></li>
    
    <li class="list-group-item">Mobile: <span class="fw-bolder">{{contact.mobile}}</span></li>

    <li class="list-group-item">Company: <span class="fw-bolder">{{contact.company}}</span></li>

    <li class="list-group-item">title: <span class="fw-bolder">{{contact.title}}</span></li>
    
    <li class="list-group-item">Group: <span class="fw-bolder">{{groupName}}</span></li>


</ul>


</div>
        </div>
    </div>
